$bgColor: #370d3d;
$bgColor_2: white;

/* Search Bar */
.input_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2.5rem;
  width: 25rem;
  background: $bgColor_2;
  border: none;
  padding: 1rem;
  text-align: center;
  outline: none;
}

/* A compilation of movies */
.movie_container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  font-size: 0.76em;

  img {
    width: 80%;
    background-color: $bgColor;
    margin: 2em 2em 2em;
    padding: 2em 2em 2em;
  }

  /* Overview section */
  .movie_info_container {
    display: block;
    width: 100%;
    position: relative;
    top: 2.5rem;
    overflow: hidden;
    height: auto;
    width: 95%;
    margin: 0.7rem;
    box-shadow: 0 5px 25px;
    border-radius: 10px;
    background-color: $bgColor;

    .movie_desc {
      color: $bgColor_2;
      align-items: center;
      justify-content: space-between;
      letter-spacing: 0.18rem;
      padding: 0.5rem 0.5rem 0.5rem;

      .movie_desc h3 {
        margin-top: 0;
      }
    }

    .overview_container {
      position: absolute;
      bottom: 89%;
      left: 0;
      right: 0;
      height: 80%;
      width: 100%;
      opacity: 0;
    }
  }
}

.movie_info_container:hover .overview_container {
  opacity: 2;
  position: absolute;
  padding: 1rem;
  bottom: 115%;
  left: 0;
  right: 0;
  height: 95%;
  transform: translateY(101%);
  transition: 0.4s ease-in;
  background-color: $bgColor_2;
  border-radius: 10px;
}

.text {
  color: black;
  font-size: 14px;
  position: absolute;
  top: 55%;
  left: 50%;
  background-color: $bgColor_2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Media query for responsiveness */
@media only screen and (max-width: 750px) {
  .input_style {
    width: 80%;
  }

  .movie_container {
    grid-template-columns: repeat(1, 1fr);

    img {
      width: 80%;
      margin: 2em 2em 2em;
      padding: 2em 2em 2em;
    }
  }

  .text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 750px) {
  .text {
    font-size: 15px;
  }
}